<div class="container">
    <div class="no-data text-center" *ngIf="User.length == 0">
        <p>No hay usuarios añadidos aún!!!</p>
        <button class="btn btn-outline-primary" routerLink="/perfil">Añadir usuario</button>
    </div>

    <div *ngIf="User.length !== 0">
        <h3 class="mb-3 text-center">Lista de Usuarios</h3>
        <button class="btn btn-dark" routerLink="/perfil">Añadir usuario</button>
        <br>
        <br>
        <div class="com-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of User">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>

                        <td>
                            <button class="btn btn-primary edit" routerLink="/user-edit/{{user.id}}">Editar</button>

                            <button class="btn btn-danger delete" (click)="deleteUser(user.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>