<app-sidebar></app-sidebar>
<app-sidebar2></app-sidebar2>
<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="utf-8">
        
  <title>Login</title>    
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
  
  <!-- Link hacia el archivo de estilos css -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
 
  
  <style type="text/css">
      
  </style>
  
  <script type="text/javascript">
  
  </script>
</head>
  
<body>

    <h3 class="text-center pt-3">TICKETS</h3>
  
    <div class="cont">
        <div class="container">
            <div class="row">
            <div class="col-md-3"></div>

            <table>
                <tbody>
                    <tr>
                        <th>Folio: {{folio}}</th>
                        <td>{{ todayWithPipe }}</td>
                    </tr>

                </tbody>
            </table>
            

                
                <br>
                <br>                
                <form #f="ngForm" (ngSubmit)="submit()" class="login-form row g-3" method="post" action="#" >

                    <!-- <div>
                        <input type="text" class="form-control" id="inputEmail4" name="folio" [value]="today" [(ngModel)]="ticketModel.folio" >
                    </div> -->

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Título</label>

                        <input type="text" class="form-control" id="inputEmail4" name="titulo" [(ngModel)]="ticketModel.titulo" required>

                        <label for="inputEmail4" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="inputEmail4" name="usuario" [(ngModel)]="ticketModel.autor" required>
                    </div>

                    <div class="col-md-3">
                        <label for="inputPassword4" class="form-label">Fecha de Asignación</label>
                        <input type="datetime-local" class="form-control" id="inputPassword4" name="fechaAsignacion" [(ngModel)]="ticketModel.asignado">

                    </div>

                    <div class="col-md-3">
                        <label for="inputPassword4" class="form-label" hidden>ID</label>
                        <input type="text" class="form-control" id="inputPassword4" name="id" value="{{id}}" placeholder="{{id}}" [(ngModel)]="ticketModel.id" hidden>


                    </div>

                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Descripción</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="10" [(ngModel)]="ticketModel.descripcion" name="descripcion"></textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Ligado" disabled [(ngModel)]="ticketModel.estatus" name="estado">

                        <input type="text" class="form-control" id="inputAddress" placeholder="fecha" disabled [(ngModel)]="ticketModel.creacion" value="{{todayWithPipe}}" name="fechacreacion" hidden>
                    </div>

                    <div class="col-md-6">

                        <!-- <label for="inputAddress" class="form-label">Estatus</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Creado" disabled [(ngModel)]="ticketModel.estatus" value="Creado" name="status"> -->
                    </div>

                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Prioridad</label>
                        <select id="inputState" class="form-select" [(ngModel)]="ticketModel.prioridad" name="prioridad">
                          <option selected>Baja</option>
                          <option>Media</option>
                          <option>Alta</option>
                          <option>Urgente</option>
                        </select>

                        <!-- <label for="inputState" class="form-label">Especialidad</label>
                        <select id="inputState" class="form-select" [(ngModel)]="ticketModel.especialista" name="especialidad">
                          <option selected>Hardware</option>
                          <option>Software</option>
                          <option>Mantenimiento</option>
                        </select> -->

                        <label for="inputState" class="form-label">Especialista</label>
                        <select id="inputState" class="form-select" [(ngModel)]="ticketModel.especialista" name="especialista">
                          <option selected>Panchito Pérez</option>
                          <option>Juanito López</option>
                        </select>

                        <label for="inputState" class="form-label">Proyecto</label>
                        <select id="proyecto" class="form-select" [(ngModel)]="ticketModel.proyecto" name="proyecto">
                          <option selected disabled>--select proyecto--</option>
                          <option *ngFor="let proyecto of projects" [ngValue]="proyecto.nombre">{{proyecto.nombre}}</option>
                        </select>
                        &nbsp;
                        <label for="inputState" class="form-label">Área</label>
                        <select id="proyecto" class="form-select" [(ngModel)]="ticketModel.area" name="proyecto" *ngIf="ticketModel.proyecto">
                          <option selected disabled>--select proyecto--</option>
                          <option *ngFor="let proyecto of projects" [ngValue]="proyecto.nombre_proyecto">{{proyecto.nombre_proyecto}}</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Cambiar estatus</label>
                        <select id="inputState" class="form-select" [(ngModel)]="ticketModel.estatus" name="cambiarEstatus">
                          <option selected>Creado</option>
                          <option>Atendido</option>
                          <option>Asignado</option>
                          <option>En espera</option>
                          <option>En proceso</option>
                          <option>Resuelto</option>
                          <option>Validado</option>
                          <option>Cancelado</option>
                        </select>
                    </div>

                    <!-- <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div> -->

                    <div class="col-12">
                        <button class="btn btn-link" routerLink="comments">Comentarios</button>
                        <br>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-link" routerLink="historial">Historial</button>
                        <br>
                        <br>
                    </div>

                    <div class="col-md-6">
                        <button type="submit" style="background-color: gray;" class="btn btn-dark">Crear</button>
                    </div>

                    <div class="col-md-6">
                        <button type="button" style="background-color: gray;"  class="btn btn-dark" routerLink="/">Cancelar</button>
                    </div>
                </form>

            </div>
            <div class="col-md-3"></div>
            </div>
        </div>
    
</body>
</html>