/* You can add global styles to this file, and also import other style files */


/*------ SCROLLBAR --------*/


::-webkit-scrollbar{
    width: 6px;
    height: auto;
}
::-webkit-scrollbar-track{
    background: #ffffff;
    
}
::-webkit-scrollbar-thumb{
    background: #657786;
    border-radius: 2px;
}
