
<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="utf-8">
        
  <title>Login</title>    
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
  
  <!-- Link hacia el archivo de estilos css -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
 
  
  <style type="text/css">
      
  </style>
  
  <script type="text/javascript">
  
  </script>
</head>
  
<body>
  
    <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 p-0 pt-3">
            <br>
            <br>
            <i class="fa fa-i-cursor"></i>
            <h3 class="text-center pt-3">HELPDESK</h3>
            <h5 class="text-center pt-3">Ingresa tus datos</h5>
            <form class="login-form" method="post" action="#">
                <div class="mb-3 bg-color">
                    <label>Nombre(s)</label>
                    <input type="text" name="nombre" class="form-control" required>
                </div><br>
                <div class="mb-3 bg-color">
                    <label>Apellidos</label>
                    <input type="text" name="nombre" class="form-control" required>
                </div><br>
                <div class="mb-3 bg-color">
                    <label for="inputState" class="form-label">Rol</label>
                    <select id="inputState" class="form-select">
                      <option selected>Operador</option>
                      <option>Especialista</option>
                    </select>
                </div><br>
                <div class="mb-3 bg-color">
                    <label>Correo electrónico</label>
                    <input type="email" name="email" [(ngModel)]="email" class="form-control" required>
                </div><br>
                <div class="mb-3 bg-color">
                    <label>Contraseña</label>
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" required>
                </div><br>
                <div class="mb-3 bg-color">
                    <label>Confirmar contraseña</label>
                    <input type="password" [(ngModel)]="confirmPassword" name="password" class="form-control" required>
                </div><br>
                <button (click)="register()" type="submit" class="btn btn-custom btn-dark btn-block mt-3 d-grid gap-2 mx-auto">Crear cuenta</button>
                <div class="text-center pt-3 pb-3">
                    <label>¿Ya tienes una cuenta?</label>.   
                    <a routerLink="/ticket" class="a">Inicia sesión</a>
                </div>
                <div class="text-center pt-3 pb-3">
                    <label>Crear ticket (ejemplo)</label>.   
                    <a routerLink="/ticket" class="a">Ticket</a>
                </div>
            </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
</body>
</html>
