<div class="cont">

    <button type="button" style="border: none;" routerLink="/registrar/ticket"><img src="../../../assets/reject.png" height ="40"  style="border: none;"/></button>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>HISTORIAL <h6>ticket: CO90922A1</h6></h1>

                <ul class="timeline">
                    <li>
                        <h6 class="float-right">Creado - Octubre 21, 2022 - 13:45:02</h6>
                        <p>ticket creado por <a class="float-right" style="cursor: pointer;" (click)="perfil()">@usuario1</a></p>
                    </li>
                    <li>
                        <h6 class="float-right">Asignado - Octubre 21, 2022 - 14:04:23</h6>
                        <p>ticket asignado a <a class="float-right" style="cursor: pointer;" (click)="perfil()">@especialista1</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>