
<!-- <div class="app" style="display: flex; height: 100vh; overflow:scroll initial">
    <CDBSidebar textColor="#ffffff" backgroundColor="#6EB8CC">
        <CDBSidebarHeader [prefix]="icon" >
            <ng-template #icon>
                <i class="fa fa-bars fa-large" size="lg"></i>
            </ng-template>
            Helpdesk
        </CDBSidebarHeader>
        <CDBSidebarContent>
            <CDBSidebarMenu class="sidebar-content">
                <CDBSidebarMenuItem  icon="home" >
                    Inicio                   
                </CDBSidebarMenuItem>  
                <CDBSidebarMenuItem routerLink="ticket" icon="columns" >
                    Tickets                   
                </CDBSidebarMenuItem>               
                <CDBSidebarMenuItem routerLink="p" icon="table" >
                    Proyectos                 
                </CDBSidebarMenuItem>               
                <CDBSidebarMenuItem link='/estadisticas' icon="signal"> 
                    Estadísticas                   
                </CDBSidebarMenuItem> 
                <CDBSidebarMenuItem link='/usuarios' icon="users" >
                    Usuarios                   
                </CDBSidebarMenuItem>                              
            </CDBSidebarMenu> 
        </CDBSidebarContent>
    </CDBSidebar>
</div> -->
     
<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
     -->
 <div class="container">
     <button class="btn px-3 bi bi-caret-down-fill" 
     type="button" 
     data-bs-toggle="offcanvas" 
     data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
     style="float: right ">

    </button>
</div> 
     <div class="offcanvas offcanvas-end w-auto" 
    tabindex="-1" 
    id="offcanvasRight" 
    aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel"></h5>
        <button type="button" class="btn-close text-reset " data-bs-dismiss="offcanvas" aria-label="Close" ></button>
      </div> 
      
      <div class="offcanvas-body " style="float: right" >

       <div class="dropdown mt-3" >
          <button class="btn bi bi-person-fill dropdown-toggle" type="button" 
          id="dropdownMenuButton" 
          data-bs-toggle="dropdown"
          id="icon"> 
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" routerLink="/perfil">Mi perfil</a></li>
            <li><a class="dropdown-item" routerLink="/cerrar_sesion">Cerrar sesión</a></li>
          </ul>
        </div>        
        <!-- <li class="mb-1">
          <button
            class="btn btn-toggle align-items-center rounded collapsed  bi bi-person-fill"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse"
            aria-expanded="false"
            id="icon"
          >
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink="/" class="rounded">Mi perfil</a></li>
              <li><a routerLink="/" class="rounded">Cerrar sesión</a></li>
            </ul>
          </div>
        </li> -->
        <ul class="nav nav-pills flex-column mb-auto" id="icon">
          <li>
            <a routerLink="/ticket" class="nav-link link-dark bi bi-bell-fill"> 
            </a>
          </li> <br> <br><br>
          <li>
            <a routerLink="/" class="nav-link link-dark bi bi-envelope-fill" >
            </a>
          </li>
        </ul>
      </div>
</div>
