<div class="container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">crear user</h3>

        <div class="form-group">
            <input type="text" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" [(ngModel)]="userDetails.id" class="form-control" placeholder="ID">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="userDetails.name" class="form-control" placeholder="Nombre">
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="addUser()">Crear User</button>
        </div>

        <div class="form-group">
            <button class="btn btn-dark btn-lg btn-block" routerLink="/user-list">Lista</button>
        </div>
    </div>
</div>