<app-sidebar></app-sidebar>
<app-sidebar2></app-sidebar2>
<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="utf-8">
        
  <title>Login</title>    
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
  
  <!-- Link hacia el archivo de estilos css -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
 
  
  <style type="text/css">
      
  </style>
  
  <script type="text/javascript">
  
  </script>
</head>
  
<body>

    <h3 class="text-center pt-3">TICKETS</h3>
  
    <div class="cont">
        <div class="container">
            <div class="row">
            <div class="col-md-3"></div>

            <table>
                <tbody>
                    <tr>
                        <th>Folio: {{ticketData.folio}}</th>
                        <td>{{ todayWithPipe }}</td>
                    </tr>

                </tbody>
            </table>
            

                
                <br>
                <br>                
                <form class="login-form row g-3" method="post" action="#" >

                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Título</label>
                        <input type="text" class="form-control" id="inputEmail4" name="titulo" [(ngModel)]="ticketData.titulo" required disabled>

                        <label for="inputEmail4" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="inputEmail4" name="usuario" [(ngModel)]="ticketData.ticket_usariocreador" required disabled>
                    </div>

                    <div class="col-md-3">
                        <label for="inputPassword4" class="form-label">Fecha de Asignación</label>
                        <input type="date" class="form-control" id="inputPassword4" name="fechaAsignacion" [(ngModel)]="ticketData.fecha_asignado">
                    </div>

                    <div class="col-md-3">
                        <label for="inputPassword4" class="form-label" hidden>ID</label>
                        <input type="text" class="form-control" id="inputPassword4" name="id" value="{{id}}" placeholder="{{id}}" [(ngModel)]="ticketData.id" hidden>

                        <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="ticketData.folio" name="folio" value="{{folio}}" hidden>

                    </div>

                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Descripción</label>
                        <textarea class="form-control" name="" id="" cols="30" rows="10" [(ngModel)]="ticketData.descripcion" name="descripcion" disabled></textarea>
                    </div>

                    <div class="col-md-6">
                        <label for="inputAddress" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Ligado" disabled [(ngModel)]="ticketData.ticket_tipopstatus" value="Ligado" name="estado">

                        <input type="text" class="form-control" id="inputAddress" placeholder="fecha" disabled [(ngModel)]="ticketData.fecha_creacion" value="{{todayWithPipe}}" name="fechacreacion" hidden>
                    </div>

                    <div class="col-md-6">

                        <label for="inputAddress" class="form-label">Estatus</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Creado" disabled [(ngModel)]="ticketData.ticket_tipopstatus" value="Creado" name="status">
                    </div>

                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Prioridad</label>
                        <select id="inputState" class="form-select" [(ngModel)]="ticketData.ticket_tipoprioridad" name="prioridad">
                          <option selected>Baja</option>
                          <option>Media</option>
                          <option>Alta</option>
                          <option>Urgente</option>
                        </select>

                        <label for="inputState" class="form-label">Especialidad</label>
                        <select id="inputState" class="form-select" [(ngModel)]="ticketData.ticket_especialistaasignado" name="especialidad">
                          <option selected>Hardware</option>
                          <option>Software</option>
                          <option>Mantenimiento</option>
                        </select>

                        <label for="inputState" class="form-label">Especialista</label>
                        <select id="inputState" class="form-select" [(ngModel)]="ticketData.ticket_especialistaasignado" name="especialista">
                          <option selected>Panchito Pérez</option>
                          <option>Juanito López</option>
                        </select>

                        <select id="areaOrigen" class="form-select" [(ngModel)]="ticketData.ticket_areaorigen" hidden>
                          <option selected>Recursos Humanos</option>
                          <option>Administración</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="inputState" class="form-label">Cambiar estatus</label>
                        <select id="inputState" class="form-select" [(ngModel)]="ticketData.ticket_tipopstatus" name="cambiarEstatus">
                          <option>Creado</option>
                          <option>Asignado</option>
                          <option>En espera</option>
                          <option>En proceso</option>
                          <option>Resuelto</option>
                        </select>
                    </div>

                    <!-- <div class="col-md-2">
                        <label for="inputZip" class="form-label">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div> -->

                    <div class="col-12">
                        <button class="btn btn-link" routerLink="/ticket/comments/{{id}}">Comentarios</button>
                        <br>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-link" routerLink="/ticket/historial/{{id}}">Historial</button>
                        <br>
                    </div>

                    <!-- <div class="col-12">
                        <button class="btn btn-link" routerLink="/ticket/tickets">Tickets</button>
                        <br>
                        <br>
                    </div> -->

                    <div class="col-md-6">
                        <button type="submit" (click)="updateTicket()" style="background-color: gray;" class="btn btn-dark">Asignar</button>
                    </div>

                    <div class="col-md-6">
                        <button type="button" style="background-color: gray;"  class="btn btn-dark" routerLink="/ticket/tickets">Cancelar</button>
                    </div>
                </form>

            </div>
            <div class="col-md-3"></div>
            </div>
        </div>
    
</body>
</html>


<script type="text/javascript">
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
</script>