<app-sidebar></app-sidebar>
<app-sidebar2></app-sidebar2>
<br><h3 class="text-center pt-3">TICKETS</h3>
<div class="cont"> <br>
    <div class="row">
        <div class="col sm-mb-3 float: right padding:10 px">
            <div class="form-group">
                <label for="sel1" class="form-label">Fecha:</label><br>
                <input type="date" class="dateadded"><br>
            </div><br><br><br>
            <div class="row justify-content-aling-center">
                <div class="dropdown col-md-4 ms-md-auto">
                    <label for="">Selecciona un proyecto</label><br>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Selecciona un proyecto
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Proyecto 1</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                
                <div class="dropdown col-md-4 ms-md-auto">
                    <label for="">Selecciona un área </label><br>

                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecciona un área
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <!-- <table class="table table-striped table-bordered table-sm row-border hover" id="datatableExample">
        <thead class="thead-color">
            <tr>
                <th>Folio</th>
                <th>Título</th>
                <th>Operador</th>
                <th>Fecha</th>
                <th>Estatus</th>
                <th>Prioridad</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let group of data">
                <td>{{group.id}}</td>
                <td>{{group.titulo}}</td>
                <td>{{group.ticket_especialistaasignado}}</td>
                <td>{{group.fecha_asignado}}</td>
                <td>{{group.ticket_tipopstatus}}</td>
                <td> <a style="color: #212529;" routerLink="/ticket/tickets/edit/{{group.id}}">{{group.ticket_tipoprioridad}}</a></td>
            </tr>
        </tbody>
    </table> -->

    <div class="wrapper">
        <div fxLayout fxLayoutAlign="center">
            <mat-form-field class="example-full-width" appearance="fill">
                <input class="form-control" matInput type="text" placeholder="Buscar" (keyup)="doFilter($any($event.target).value)">
            </mat-form-field>

            <!-- <mat-form-field>
                <input class="form-control" matInput type="text"
                value="{{projectsList.selectedOptions.selected[0]?.value}}" 
                (onKeyPress)="projectFilter($any($event.target).value)" hidden>
            </mat-form-field> -->

            <mat-expansion-panel (opened)="actorPanelOpenState = true" (closed)="actorPanelOpenState = false" [ngClass]="projectsList.selectedOptions.selected.length > 0 ? 'active-filter-width': 'no-filter-width'">
                <mat-expansion-panel-header [ngClass]="{'active-filter-bg': projectsList.selectedOptions.selected.length > 0}">
                    <mat-panel-title [ngClass]="{'active-filter-text': projectsList.selectedOptions.selected.length > 0}">
                        Proyectos
                    </mat-panel-title>

                    <mat-panel-description [ngClass]="{'active-filter-text': projectsList.selectedOptions.selected.length > 0}">
                        <!-- {{projectsList.selectedOptions.selected[0]?.value}}, {{projectsList.selectedOptions.selected[1]?.value}} -->
                    </mat-panel-description>

                    <span *ngIf="projectsList.selectedOptions.selected.length > 2">
                        +{{projectsList.selectedOptions.selected.length - 2}}
                    </span>

                </mat-expansion-panel-header>

                <mat-selection-list #projectsList >
                    <mat-list-option *ngFor="let proyecto of projects" [value]="proyecto.nombre_proyecto" >
                        {{proyecto.nombre_proyecto}}
                    </mat-list-option>

                </mat-selection-list>

            </mat-expansion-panel>

            <!-- <div>
                <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px">
                    <mat-label>Filter {{filter.name}}</mat-label>
                    <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue" (change)="filterChange(filter, $event)">
                        <option value="">-- Select {{filter.name}}</option>
                        <option [value]="item" *ngFor="let item of filter.options">{{items}}</option>
                    </select>
                </mat-form-field>
                &nbsp;
                <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
            </div> -->

        </div>
        <br>
        <br>
        <br>

        <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="Folio">
                <th mat-cell *matHeaderCellDef mat-sort-header>Folio</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="Título">
                <th mat-cell *matHeaderCellDef mat-sort-header>Título</th>
                <td mat-cell *matCellDef="let element"><a style="color: #212529;" routerLink="/ticket/tickets/edit/{{element.id}}">{{element.titulo}}</a></td>
            </ng-container>

            <ng-container matColumnDef="Operador">
                <th mat-cell *matHeaderCellDef mat-sort-header>Operador</th>
                <td mat-cell *matCellDef="let element">{{element.ticket_especialistaasignado}}</td>
            </ng-container>

            <ng-container matColumnDef="Fecha">
                <th mat-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                <td mat-cell *matCellDef="let element">{{element.fecha_asignado}}</td>
            </ng-container>

            <ng-container matColumnDef="Estatus">
                <th mat-cell *matHeaderCellDef mat-sort-header>Estatus</th>
                <td mat-cell *matCellDef="let element">{{element.ticket_tipopstatus}}</td>
            </ng-container>

            <ng-container matColumnDef="Prioridad">
                <th mat-cell *matHeaderCellDef mat-sort-header>Prioridad</th>
                <td mat-cell *matCellDef="let element">{{element.ticket_tipoprioridad}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageIndex]="0"
        [pageSize]="5" showFirstLastButtons=""></mat-paginator>

    </div>

</div>